@import "variables";
@import "mixin";

.theme-one {
  @include theme($button-operator-theme-one, $button-digit-theme-one);

}
.theme-second {
  @include theme($button-operator-theme-second, $button-digit-theme-second);
}
